{
  "root": true,
  "extends": "airbnb-base",
  "globals": {
    "ENV": false
  },
  "rules": {
    "arrow-body-style": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0
  }
}
