name: filestack-js
on:
  create:
    tags:
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # - uses: voxmedia/github-action-slack-notify-build@v1
    #   with:
    #     channel: team-charlie
    #     status: STARTED
    #     color: good
    #   env:
    #     SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
    - uses: actions/checkout@v2
    - name: Setup repository env
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
        registry-url: "https://registry.npmjs.org"
    - name: Install deps
      run: npm install
    - name: Run tests
      run: npm test
    - name: Publish package to cdn
      run: npm run publish:s3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
    - name: Publush to NPM (only on tag)
      run: npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    - name: Update code cov report
      run: npm run test:codecov
    - name: Prepare docs
      run: npm run docs
    - name: Deploy docs
      uses: crazy-max/ghaction-github-pages@v2
      with:
          target_branch: gh-pages
          build_dir: build/docs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    # - name: Notify slack success
    #   if: success()
    #   env:
    #     SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
    #   uses: voxmedia/github-action-slack-notify-build@v1
    #   with:
    #     channel: team-charlie
    #     status: SUCCESS
    #     color: good
    # - name: Notify slack fail
    #   if: failure()
    #   env:
    #     SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
    #   uses: voxmedia/github-action-slack-notify-build@v1
    #   with:
    #     channel: team-charlie
    #     status: FAILED
    #     color: danger
